.header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    border-bottom: salmon 2px rgb(182, 176, 176);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}
.left-section{
    width: 250px;
}
.hamburger-icon{
    height: 50px;
    margin-left: 2px;
    margin-top:8px;
    align-items: center;
    object-fit: cover;
}
.youtube-icon{
    height: 50px;
    width: 150px;
    object-fit: cover;   
}
.middle-section{
    flex: 1;
    margin-left: 60px;
    margin-right: 50px;
    max-width: 600px;
    align-items: center;
    display: flex;
}
.search{
    flex: 1;
    height: 35px;
    border-width: 1px;
    font-size: 18px;
    padding-left: 10px;
    border-style: solid;
    border-color: rgb(177, 170, 170);
    border-radius: 3px;
    box-shadow: inset 1px 1px 1px;
}
.search::placeholder{
    font-family: roboto,arial;
    font-size: 18px;
}
.search-icon{
    width: 32px;
    height: 26px;
    margin-top: 3px;
}
 .search-button{
    background-color: white;
    border-color:rgb(228, 222, 222) 
 }  
.mic-icon{
    width: 30px;
    height: 22px;
    margin-top: 4px;  
    margin-left: 10px;  
}
.mic-button{
    border-radius: 500px;
    border: none;
    background-color: whitesmoke;
}
.right-section{
    width: 400px;
    display: flex;
    align-items: center;
    
}   
.add-video{
    height: 35px; 
    width: 40px;
    padding-left: 50px;
    margin-left: 0px; 
}
.notify{
    height: 38px;
    padding-left: 60px;
    border: none;
    object-fit: cover;
    border-color: white;
    width: 50px;
}
.sidebar{
    margin-left: 0;
    top: 73px;
    width: 85px;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: white;
    border-right: salmon 2px rgb(182, 176, 176);
    padding-top: 5px;
  }
  .sidebar-link{
    height: 103px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  .sidebar-link:hover{
background-color: rgb(189, 182, 182);
  }